body{
  font-family: 'EB Garamond', serif;
  background-color: #a0a4b8;
  color: #000000;
}

.heading{
  text-align: center;
  text-transform: lowercase;
  color:#5b5b5b;
  font-family: 'Skranji', cursive;


}


/* .w3-container{
  margin-bottom: 50px;

} */


/***** header *****/

#logo{
  margin-top: 10px;

}

.w3-bar{
  padding-left: 51px;

}

.w3-bar-item{
  text-transform: lowercase;

}

#name-heading{
  font-size: 30px;

}

#different{
  color: #8fe3d9;
}



/***** main image *****/
#main-pic{
  width: 100%;
  height: 400px;
  background: linear-gradient(0deg,
   rgba(143,227,217,1) 0%,
   rgba(160,164,184,1) 100%);
  }



.pic-heading{
  color: #5b5b5b;
  font-size: 64px;
  text-transform:lowercase;

}


/***** projects *****/

#work-title{
  padding-bottom: 20px;
  border-bottom: 3px solid #8fe3d9;
}

.test{
    border-top: 3px solid #8fe3d9;

}

/***** about me *****/

#about-me{
  width: 100%;
  height: 400px;
  /* background: linear-gradient(0deg,
   rgba(143,227,217,1) 0%,
   rgba(160,164,184,1) 100%);
  } */
  background: linear-gradient(90deg,
    rgba(143,227,217,1) 0%,
     rgba(160,164,184,1) 100%);
}



/***** contact me *****/
#copyright{
  font-size: 12px;
  text-align: center;
  padding-top: 120px;
}
#logo-credit{
  font-size: 10px;
  text-align: right;
}

.connect{
  text-align: center;
  color: #8fe3d9;
}

.fab {
  color: #8fe3d9;
  padding-left: 45px;
}
